.feedback-open {
  background: url('images/feedback-open.jpg') no-repeat;
  background-size: contain;
  height: 440px;
  padding-right: 550px;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 360px;
    margin-top: 10px;

    .clips-tips {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > div {
        display: flex;
        align-items: center;
        width: 140px;

        img {
          width: 60px;
        }
      }
    }
  }

  h2 {
    color: var(--color-primary-900);
  }
}

.feedback-video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  h2 {
    align-self: flex-start;
    color: var(--color-primary-900);
  }

  &__youtube {
    margin-top: 30px;
    border: 1px solid #000;
    padding: 4px;
    height: 325px;
  }
}

.notes-container {
  position: relative;

  h2 {
    color: var(--color-primary-900);
  }

  .notes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    &__right {
      background: url('images/yellow-note.png') no-repeat center center;

      > div {
        transform: rotate(-5deg);
      }
    }

    &__middle {
      background: url('images/blue-note.png') no-repeat center center;

      > div {
        transform: rotate(5deg);
      }
    }

    &__left {
      background: url('images/pink-note.png') no-repeat center center;

      > div {
        transform: rotate(-5deg);
      }
    }

    > div {
      width: 295px;
      height: 245px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.feedback-accordion {
  min-height: 570px;
  background: url('images/feedback-accordion-bg.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    color: var(--color-primary-900);
  }
}
