.init-program-what {
  background: url('images/init-program-what.jpg') no-repeat center center;
  background-size: cover;
  height: 510px;
  background-position-y: -70px;
  position: relative;

  &__content {
    max-width: 395px;
    margin-top: 60px;

    .top,
    .bottom {
      display: flex;
      align-items: center;

      .number {
        font-size: 75px;
        font-weight: 600;
        margin-left: 16px;
      }

      .text {
        line-height: 1.5;
      }
    }

    .bottom {
      margin-top: 20px;
    }
  }

  h2 {
    color: var(--color-success-700);

    span {
      color: var(--color-primary-900);
    }
  }
}

.init-program-info {
  position: relative;
  height: 250px;
  display: flex;
  align-items: center;

  .clips-black-img {
    position: absolute;
    right: 20px;
    top: -70px;
    width: 60px;
  }

  .text {
    line-height: 1.5;
  }
}

.init-program-video {
  height: 500px;
  background: url('images/hand-img.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  position: relative;

  &__left {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 50px;
      left: -83px;
      background: url(images/arrow.png) no-repeat;
      width: 70px;
      height: 70px;
      background-size: contain;
      transform: rotate(95deg);
    }

    .video-container__youtube {
      margin-top: 40px;
      border: 1px solid #000;
      padding: 4px;
      height: 325px;
    }
  }

  &__right {
    margin-top: 81px;

    .title {
      display: flex;
      flex-direction: column;

      h3 {
        font-weight: 600;
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 45px;

      &__item {
        position: relative;
        padding: 17px;
        background: var(--color-success-400);
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        .small-clips {
          position: absolute;
          top: -20px;
          right: 10px;
          width: 25px;
        }
      }
    }
  }

  h2 {
    color: var(--color-primary-900);
  }
}

.init-program-accordion {
  height: 350px;
  position: relative;

  h2 {
    color: var(--color-primary-900);
  }
}

.measurable-container {
  background: url('images/measurable-bg.jpg') no-repeat;
  background-size: cover;
  height: 500px;
  background-position-y: -90px;

  h2 {
    color: var(--color-primary-900);
  }

  .text-container {
    margin-top: 30px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 800px;

      .left,
      .right {
        display: flex;
        align-items: flex-start;

        > div {
          display: flex;
          flex-direction: column;
        }

        img {
          width: 70px;
          padding-top: 7px;
          margin-left: 12px;
        }
      }
    }
  }
}
