:root {
  --color-primary-100: #DEFAFB;
  --color-primary-200: #BDF2F7;
  --color-primary-300: #97DBE8;
  --color-primary-400: #76BDD1;
  --color-primary-500: #4B95B3;
  --color-primary-600: #367699;
  --color-primary-700: #255A80;
  --color-primary-800: #174067;
  --color-primary-900: #0E2D55;
  --color-success-100: #FFEFEB;
  --color-success-200: #FFDBD8;
  --color-success-300: #FFC4C5;
  --color-success-400: #FFB6BD;
  --color-success-500: #FF9EB1;
  --color-success-600: #DB7391;
  --color-success-700: #B74F77;
  --color-success-800: #933261;
  --color-success-900: #7A1E53;
  --color-info-100: #E6FEFF;
  --color-info-200: #CEFAFF;
  --color-info-300: #B5F3FF;
  --color-info-400: #A3EAFF;
  --color-info-500: #85DCFF;
  --color-info-600: #61AFDB;
  --color-info-700: #4386B7;
  --color-info-800: #2A6093;
  --color-info-900: #19447A;
  --color-warning-100: #FEFCD0;
  --color-warning-200: #FDF9A3;
  --color-warning-300: #F9F474;
  --color-warning-400: #F4EC51;
  --color-warning-500: #EDE21A;
  --color-warning-600: #CBC113;
  --color-warning-700: #AAA00D;
  --color-warning-800: #898008;
  --color-warning-900: #716904;
  --color-danger-100: #FBFAE0;
  --color-danger-200: #F7F5C2;
  --color-danger-300: #E8E59E;
  --color-danger-400: #D1CD7E;
  --color-danger-500: #B3AE54;
  --color-danger-600: #99943D;
  --color-danger-700: #807B2A;
  --color-danger-800: #67621A;
  --color-danger-900: #555010;
}

:root {
  --color-primary-transparent-100: rgba(62, 79, 89, 0.08);
  --color-primary-transparent-200: rgba(62, 79, 89, 0.16);
  --color-primary-transparent-300: rgba(62, 79, 89, 0.24);
  --color-primary-transparent-400: rgba(62, 79, 89, 0.32);
  --color-primary-transparent-500: rgba(62, 79, 89, 0.4);
  --color-primary-transparent-600: rgba(62, 79, 89, 0.48);
  --color-success-transparent-100: rgba(114, 204, 205, 0.08);
  --color-success-transparent-200: rgba(114, 204, 205, 0.16);
  --color-success-transparent-300: rgba(114, 204, 205, 0.24);
  --color-success-transparent-400: rgba(114, 204, 205, 0.32);
  --color-success-transparent-500: rgba(114, 204, 205, 0.4);
  --color-success-transparent-600: rgba(114, 204, 205, 0.48);
  --color-info-transparent-100: rgba(6, 170, 172, 0.08);
  --color-info-transparent-200: rgba(6, 170, 172, 0.16);
  --color-info-transparent-300: rgba(6, 170, 172, 0.24);
  --color-info-transparent-400: rgba(6, 170, 172, 0.32);
  --color-info-transparent-500: rgba(6, 170, 172, 0.4);
  --color-info-transparent-600: rgba(6, 170, 172, 0.48);
  --color-warning-transparent-100: rgba(254, 190, 64, 0.08);
  --color-warning-transparent-200: rgba(254, 190, 64, 0.16);
  --color-warning-transparent-300: rgba(254, 190, 64, 0.24);
  --color-warning-transparent-400: rgba(254, 190, 64, 0.32);
  --color-warning-transparent-500: rgba(254, 190, 64, 0.4);
  --color-warning-transparent-600: rgba(254, 190, 64, 0.48);
  --color-danger-transparent-100: rgba(69, 69, 71, 0.08);
  --color-danger-transparent-200: rgba(69, 69, 71, 0.16);
  --color-danger-transparent-300: rgba(69, 69, 71, 0.24);
  --color-danger-transparent-400: rgba(69, 69, 71, 0.32);
  --color-danger-transparent-500: rgba(69, 69, 71, 0.4);
  --color-danger-transparent-600: rgba(69, 69, 71, 0.48);
}

/* Implement sass map to colors */
/* generating HEX background colors */
/* generating RGBA background colors */
/* Create bg color from map */
.bg-color-primary-100 {
  background-color: var(--color-primary-100);
}
.bg-color-primary-200 {
  background-color: var(--color-primary-200);
}
.bg-color-primary-300 {
  background-color: var(--color-primary-300);
}
.bg-color-primary-400 {
  background-color: var(--color-primary-400);
}
.bg-color-primary-500 {
  background-color: var(--color-primary-500);
}
.bg-color-primary-600 {
  background-color: var(--color-primary-600);
}
.bg-color-primary-700 {
  background-color: var(--color-primary-700);
}
.bg-color-primary-800 {
  background-color: var(--color-primary-800);
}
.bg-color-primary-900 {
  background-color: var(--color-primary-900);
}
.bg-color-success-100 {
  background-color: var(--color-success-100);
}
.bg-color-success-200 {
  background-color: var(--color-success-200);
}
.bg-color-success-300 {
  background-color: var(--color-success-300);
}
.bg-color-success-400 {
  background-color: var(--color-success-400);
}
.bg-color-success-500 {
  background-color: var(--color-success-500);
}
.bg-color-success-600 {
  background-color: var(--color-success-600);
}
.bg-color-success-700 {
  background-color: var(--color-success-700);
}
.bg-color-success-800 {
  background-color: var(--color-success-800);
}
.bg-color-success-900 {
  background-color: var(--color-success-900);
}
.bg-color-info-100 {
  background-color: var(--color-info-100);
}
.bg-color-info-200 {
  background-color: var(--color-info-200);
}
.bg-color-info-300 {
  background-color: var(--color-info-300);
}
.bg-color-info-400 {
  background-color: var(--color-info-400);
}
.bg-color-info-500 {
  background-color: var(--color-info-500);
}
.bg-color-info-600 {
  background-color: var(--color-info-600);
}
.bg-color-info-700 {
  background-color: var(--color-info-700);
}
.bg-color-info-800 {
  background-color: var(--color-info-800);
}
.bg-color-info-900 {
  background-color: var(--color-info-900);
}
.bg-color-warning-100 {
  background-color: var(--color-warning-100);
}
.bg-color-warning-200 {
  background-color: var(--color-warning-200);
}
.bg-color-warning-300 {
  background-color: var(--color-warning-300);
}
.bg-color-warning-400 {
  background-color: var(--color-warning-400);
}
.bg-color-warning-500 {
  background-color: var(--color-warning-500);
}
.bg-color-warning-600 {
  background-color: var(--color-warning-600);
}
.bg-color-warning-700 {
  background-color: var(--color-warning-700);
}
.bg-color-warning-800 {
  background-color: var(--color-warning-800);
}
.bg-color-warning-900 {
  background-color: var(--color-warning-900);
}
.bg-color-danger-100 {
  background-color: var(--color-danger-100);
}
.bg-color-danger-200 {
  background-color: var(--color-danger-200);
}
.bg-color-danger-300 {
  background-color: var(--color-danger-300);
}
.bg-color-danger-400 {
  background-color: var(--color-danger-400);
}
.bg-color-danger-500 {
  background-color: var(--color-danger-500);
}
.bg-color-danger-600 {
  background-color: var(--color-danger-600);
}
.bg-color-danger-700 {
  background-color: var(--color-danger-700);
}
.bg-color-danger-800 {
  background-color: var(--color-danger-800);
}
.bg-color-danger-900 {
  background-color: var(--color-danger-900);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

body {
  direction: rtl;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  text-align: initial;
  font-size: 14px;
}

.font-super-duper {
  font-size: 40px;
  font-weight: 700;
}

.font-super {
  font-size: 28px;
  font-weight: 300;
}

.font-super-semi-bold {
  font-size: 28px;
  font-weight: 400;
}

.font-super-bold {
  font-size: 28px;
  font-weight: 600;
}

.font-big {
  font-size: 20px;
  font-weight: 300;
}

.font-big-bold {
  font-size: 20px;
  font-weight: 600;
}

.font-heading-1-normal {
  font-size: 18px;
}

.font-heading-1 {
  font-size: 18px;
  font-weight: 800;
}

.font-heading-2-normal {
  font-size: 16px;
}

.font-heading-2 {
  font-size: 16px;
  font-weight: 600;
}

.font-heading-3 {
  font-size: 14px;
  font-weight: 600;
}

.font-heading-4 {
  font-size: 14px;
  font-weight: 400;
}

.font-label {
  font-size: 12px;
  font-weight: 700;
}

.font-regular {
  font-size: 12px;
  font-weight: 400;
}

* {
  outline: none;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid transparent;
  background: var(--color-primary-900);
  background-clip: content-box;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 1280px;
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  height: 140px;
  background: var(--color-info-100);
  padding-right: 20px;
}
footer .logo-container {
  width: 20%;
}
footer .logo-container img {
  width: 100%;
  vertical-align: middle;
}
footer .site-map-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 100px;
}
footer .site-map-container__list {
  display: flex;
  align-content: center;
}
footer .site-map-container .about-link {
  margin-left: 30px;
}

.header-container {
  background: #FFF;
  display: flex;
  height: 55px;
  font-size: 16px;
  box-shadow: 0 3px 4px -4px black;
  position: sticky;
  top: 0;
  width: 100%;
  padding-right: 20px;
  color: var(--color-primary-900);
  z-index: 9999;
}

.header {
  display: flex;
  width: 100%;
}
.header__list {
  display: flex;
  align-items: center;
  margin-right: 40px;
  width: 100%;
}
.header__list--left {
  display: flex;
  width: 290px;
  justify-content: center;
  align-items: center;
}
.header__list--left li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__list--left li:hover {
  background: var(--color-primary-100);
}
.header__list--left li.active {
  background: var(--color-primary-100);
}
.header__list--left li a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.header__list li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__list li:hover {
  background: var(--color-primary-100);
}
.header__list li.active {
  background: var(--color-primary-100);
}
.header__list li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.header__list .open-progress {
  position: relative;
}
.header__list .open-progress:hover .open-menu, .header__list .open-progress:focus .open-menu, .header__list .open-progress:focus-within .open-menu {
  display: block;
}
.header .logo {
  width: 150px;
  padding-top: 4px;
}
.header .open-menu {
  background: #FFF;
  display: none;
  position: absolute;
  top: 55px;
  right: 0;
  width: 147px;
  box-shadow: 0 0 6px -4px black;
}
.header .open-menu.challenge-link {
  width: 140px;
}
.header .open-menu li {
  height: 35px;
  white-space: nowrap;
  justify-content: flex-start;
}

.padding-section {
  padding: 20px 67px 20px;
}

.cover-img {
  height: 610px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.cover-img__homepage {
  background-image: url("images/homepage-image.jpg");
  background-position-y: -50px;
}
.cover-img__homepage h1 {
  height: max-content;
  color: var(--color-primary-900);
  padding-left: 50px;
  font-weight: 400;
}
.cover-img__homepage h1 .twist-text {
  font-weight: 700;
}
.cover-img__conversation {
  background-image: url("images/conversation-cover.jpg");
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-position-y: -150px;
}
.cover-img__conversation h1 {
  color: #000;
}
.cover-img__conversation .text {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 300px;
}
.cover-img__init-program {
  background: url("images/init-program-cover.jpg") no-repeat center center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.cover-img__init-program h1 {
  color: #000;
  padding-bottom: 250px;
}
.cover-img__init-program .text {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 70px;
}
.cover-img__feedback {
  background: url("images/feedback-cover.jpg") no-repeat center center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.cover-img__feedback h1 {
  color: #000;
  padding-bottom: 250px;
}
.cover-img__feedback .text {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 70px;
}
.cover-img .cover-text {
  position: relative;
  padding-top: 160px;
}
.cover-img .cover-text:after {
  position: absolute;
  content: "";
  transform: translate(-50%);
  top: 70%;
  left: 25px;
  background-image: url("images/cover-smile copy.png");
  width: 45px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: 40px;
}

.sub-menu {
  height: 50px;
  background-color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 460px;
  z-index: 999;
}
.sub-menu__conversation {
  padding: 0 520px;
}
.sub-menu.fixed {
  position: sticky;
  top: 55px;
  width: 100%;
}
.sub-menu .link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sub-menu .link:hover {
  color: var(--color-info-700);
}
.sub-menu .link.active {
  color: var(--color-info-700);
}
.sub-menu .link.active:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--color-info-700);
  width: 25px;
  height: 2px;
  bottom: 0;
}
.sub-menu .divider {
  width: 1px;
  height: 20px;
  background: #000;
}

.link-anchor {
  position: absolute;
  top: -105px;
  visibility: hidden;
}

.download-file-container__text {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}
.download-file-container__img {
  width: 25px;
  height: 100%;
}
.download-file-container .download-link {
  display: inline-flex;
  align-items: center;
}

.not-allowed {
  cursor: not-allowed;
}

.credit-container {
  padding: 20px 0;
  position: relative;
}
.credit-container .popover {
  position: absolute;
  width: 400px;
  height: 250px;
  padding: 0;
  background: #FFFFFF;
  border: 1px solid #000;
  top: -85px;
  right: 210px;
  z-index: 9;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.credit-container .popover.show {
  visibility: visible;
  transform: scale(1);
}
.credit-container .popover:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -32px;
  transform: translateY(-50%) rotate(-90deg);
  border-style: solid;
  border-width: 21px 21px 0;
  border-color: #000 transparent;
  display: block;
  width: 0;
  z-index: 0;
}
.credit-container .popover:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -31px;
  transform: translateY(-50%) rotate(-90deg);
  border-style: solid;
  border-width: 21px 21px 0;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
}
.credit-container .twist-bg-info {
  background: var(--color-info-500);
  border: 1px solid var(--color-info-500);
  border-radius: 20px;
  width: 180px;
  height: 40px;
  font-size: 1em;
  font-family: "Heebo", sans-serif;
  cursor: pointer;
  color: #000;
  transition: all 0.3s ease-out 0s;
}
.credit-container .twist-bg-info:hover {
  background: var(--color-info-400);
}

.what-is-twist {
  height: 300px;
  background: url(images/clips.png) no-repeat top center;
  background-size: 165px;
  background-position-x: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.what-is-twist__title {
  color: var(--color-success-500);
}
.what-is-twist .text {
  color: var(--color-primary-900);
  width: 640px;
  margin-top: 25px;
  line-height: 1.5;
  padding-bottom: 10px;
}

.what-we-do {
  background: url("images/what-we-do.jpg") no-repeat center right;
  height: 540px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 590px;
  padding-top: 45px;
}
.what-we-do__title {
  color: var(--color-primary-900);
}
.what-we-do .link-container {
  position: relative;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
}
.what-we-do .link-container div a {
  position: relative;
  width: 270px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.what-we-do .link-container div a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("images/label-pink.png") no-repeat center center;
  background-size: cover;
  z-index: 1;
}
.what-we-do .link-container div a:hover, .what-we-do .link-container div a:focus, .what-we-do .link-container div a:focus-within {
  transform: scale(1.2) rotate(-5deg);
}
.what-we-do .link-container div a:hover:after, .what-we-do .link-container div a:focus:after, .what-we-do .link-container div a:focus-within:after {
  background: url("images/label-blue.png") no-repeat center center;
  background-size: cover;
}
.what-we-do .link-container div a:hover .first-title, .what-we-do .link-container div a:focus .first-title, .what-we-do .link-container div a:focus-within .first-title {
  display: none;
}
.what-we-do .link-container div a:hover .second-title, .what-we-do .link-container div a:focus .second-title, .what-we-do .link-container div a:focus-within .second-title {
  display: block;
}
.what-we-do .link-container div a.middle-link:hover {
  transform: scale(1.2) rotate(5deg);
}
.what-we-do .link-container div a span {
  z-index: 99;
}
.what-we-do .link-container div .first-title {
  display: block;
}
.what-we-do .link-container div .second-title {
  display: none;
}
.what-we-do .link-container__top {
  position: relative;
}
.what-we-do .link-container__top:after {
  content: "";
  position: absolute;
  background: url("images/arrow.png") no-repeat center center;
  width: 100%;
  height: 80px;
  right: -150px;
  bottom: -75px;
  background-size: contain;
  transform: rotateY(180deg);
}
.what-we-do .link-container__middle {
  position: relative;
}
.what-we-do .link-container__middle:after {
  content: "";
  position: absolute;
  background: url("images/arrow.png") no-repeat center center;
  width: 100%;
  height: 80px;
  left: -150px;
  bottom: -75px;
  background-size: contain;
}
.what-we-do .link-container__middle a:after {
  transform: rotate(180deg);
}
.what-we-do .link-container .hidden {
  display: none;
}

.carousel-container {
  background-color: #FFF;
  position: relative;
}
.carousel-container__title {
  color: var(--color-primary-900);
  margin: 30px 0;
  padding-right: 67px;
}
.carousel-container .clips-image {
  position: absolute;
  top: -40px;
  left: 80px;
  width: 450px;
  z-index: 99;
}

.style-guide {
  text-align: center;
}

.sg-colors-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sg-colors {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sg-colors > div {
  color: #000;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 0.5em;
}
.sg-colors h3 {
  margin-bottom: 0.5em;
}
.sg-colors.primary > div {
  color: #000;
}
.sg-colors.success > div {
  color: #58a306;
}
.sg-colors.danger > div {
  color: #000;
}

.buttons-container {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.buttons-container h3 {
  margin-bottom: 1em;
  font-family: "Assistant", sans-serif;
}
.buttons-container button {
  margin-bottom: 1em;
}
.buttons-container .twist-bg-primary-effect {
  background: transparent;
  border: 1px solid var(--color-primary-600);
  border-radius: 20px;
  overflow: hidden;
  width: 180px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  color: var(--color-primary-600);
  transition: all 0.3s;
  transition-property: color;
  transition-duration: 0.5s;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: perspective(1px) translateZ(0);
}
.buttons-container .twist-bg-primary-effect:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-primary-600);
  transform: scaleX(0);
  transform-origin: 100%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.buttons-container .twist-bg-primary-effect:hover {
  color: #fff;
}
.buttons-container .twist-bg-primary-effect:hover:before {
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transform: scaleX(1);
}
.buttons-container .twist-bg-success-effect {
  background: transparent;
  border: 1px solid var(--color-success-600);
  border-radius: 20px;
  overflow: hidden;
  width: 180px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  color: var(--color-success-600);
  transition: all 0.3s;
  transition-property: color;
  transition-duration: 0.5s;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: perspective(1px) translateZ(0);
}
.buttons-container .twist-bg-success-effect:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-success-600);
  transform: scaleX(0);
  transform-origin: 100%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.buttons-container .twist-bg-success-effect:hover {
  color: #fff;
}
.buttons-container .twist-bg-success-effect:hover:before {
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transform: scaleX(1);
}
.buttons-container .twist-bg-info-effect {
  background: transparent;
  border: 1px solid var(--color-info-600);
  border-radius: 20px;
  overflow: hidden;
  width: 180px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  color: var(--color-info-600);
  transition: all 0.3s;
  transition-property: color;
  transition-duration: 0.5s;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: perspective(1px) translateZ(0);
}
.buttons-container .twist-bg-info-effect:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-info-600);
  transform: scaleX(0);
  transform-origin: 100%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.buttons-container .twist-bg-info-effect:hover {
  color: #fff;
}
.buttons-container .twist-bg-info-effect:hover:before {
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transform: scaleX(1);
}
.buttons-container .twist-bg-warning-effect {
  background: transparent;
  border: 1px solid var(--color-warning-500);
  border-radius: 20px;
  overflow: hidden;
  width: 180px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  color: var(--color-warning-500);
  transition: all 0.3s;
  transition-property: color;
  transition-duration: 0.5s;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: perspective(1px) translateZ(0);
}
.buttons-container .twist-bg-warning-effect:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-warning-500);
  transform: scaleX(0);
  transform-origin: 100%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.buttons-container .twist-bg-warning-effect:hover {
  color: #fff;
}
.buttons-container .twist-bg-warning-effect:hover:before {
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transform: scaleX(1);
}
.buttons-container .twist-bg-primary {
  background: var(--color-primary-600);
  border: 1px solid var(--color-primary-600);
  border-radius: 20px;
  width: 180px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  color: #FFF;
  transition: all 0.3s ease-out 0s;
}
.buttons-container .twist-bg-primary:hover {
  background: var(--color-primary-500);
}
.buttons-container .twist-bg-success {
  background: var(--color-success-600);
  border: 1px solid var(--color-success-600);
  border-radius: 20px;
  width: 180px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  color: #FFF;
  transition: all 0.3s ease-out 0s;
}
.buttons-container .twist-bg-success:hover {
  background: var(--color-success-500);
}
.buttons-container .twist-bg-info {
  background: var(--color-info-600);
  border: 1px solid var(--color-info-600);
  border-radius: 20px;
  width: 180px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  color: #FFF;
  transition: all 0.3s ease-out 0s;
}
.buttons-container .twist-bg-info:hover {
  background: var(--color-info-500);
}
.buttons-container .twist-bg-warning {
  background: var(--color-warning-500);
  border: 1px solid var(--color-warning-500);
  border-radius: 20px;
  width: 180px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  color: #FFF;
  transition: all 0.3s ease-out 0s;
}
.buttons-container .twist-bg-warning:hover {
  background: var(--color-warning-400);
}

.typography {
  margin-bottom: 2em;
  direction: rtl;
}
.typography div, .typography h1, .typography h2, .typography h3, .typography h4, .typography label, .typography p {
  margin-bottom: 1em;
}

.questions {
  width: 500px;
  height: 200px;
  border-radius: 20px;
  border: 2px solid var(--color-warning-500);
  padding: 20px;
  margin-bottom: 50px;
}
.questions .item {
  position: relative;
}
.questions .question-header {
  font-size: 1.5em;
  background: var(--color-info-800);
  color: #FFF;
  padding: 10px;
  margin-bottom: 0.3em;
}
.questions .answer-slide {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background: #FFF;
  height: 167px;
}
.questions .answer-slide.next-question {
  display: none;
}
.questions .answer-slide .answer-indicator {
  display: block;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  padding: 8px;
}
.questions .answer-slide .answer-indicator:hover {
  background-color: var(--color-success-400);
}
.questions .answer-slide .result {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 105px;
}
.questions .answer-slide .back-btn {
  position: absolute;
  top: 11px;
  right: 11px;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  background: var(--color-warning-500);
  color: #FFF;
  cursor: pointer;
}
.questions #goToQuestion2Answer1:checked ~ #question2Answer1 {
  display: block;
}
.questions #goToQuestion2Answer2:checked ~ #question2Answer2 {
  display: block;
}
.questions #goToQuestion2Answer3:checked ~ #question2Answer3 {
  display: block;
}
.questions #goToQuestion3Answer1:checked ~ #pizzaResultQuestion2Answer1 {
  display: block;
}
.questions #goToQuestion3Answer2:checked ~ #pizzaResultQuestion2Answer2 {
  display: block;
}
.questions #goToQuestion3Answer3:checked ~ #pizzaQuestion3Answer1 {
  display: block;
}
.questions #pizzaGoToResultAnswer1:checked ~ #pizzaResultQuestion3Answer1 {
  display: block;
}
.questions #pastaGoToResultAnswer1:checked ~ #question3Answer1 {
  display: block;
}
.questions #pastaGoToResultAnswer1:checked ~ #question3Answer2 {
  display: block;
}
.questions #pastaGoToResultAnswer1:checked ~ #question3Answer3 {
  display: block;
}
.questions .answer-check {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
