//ייבוא של צבעים
@import 'styles/config';

//ייבוא של פונטים
@import 'styles/local';

//general CSS

* {
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 3px solid transparent;
    background: var(--color-primary-900);
    background-clip: content-box;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 1280px;
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  height: 140px;
  background: var(--color-info-100);
  padding-right: 20px;


  .logo-container {
    width: 20%;

    img {
      width: 100%;
      vertical-align: middle;
    }
  }

  .site-map-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 100px;

    &__list {
      display: flex;
      align-content: center;
    }

    .about-link {
      margin-left: 30px;
    }
  }
}

.header-container {
  background: #FFF;
  display: flex;
  height: 55px;
  font-size: 16px;
  box-shadow: 0 3px 4px -4px black;
  position: sticky;
  top: 0;
  width: 100%;
  padding-right: 20px;
  color: var(--color-primary-900);
  z-index: 9999;
}

.header {
  display: flex;
  width: 100%;

  &__list {
    display: flex;
    align-items: center;
    margin-right: 40px;
    width: 100%;

    &--left {
      display: flex;
      width: 290px;
      justify-content: center;
      align-items: center;

      li {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background: var(--color-primary-100);
        }

        &.active {
          background: var(--color-primary-100);
        }

        a {
          height: 100%;
          display: flex;
          align-items: center;
          padding: 0 20px;
        }
      }
    }

    li {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: var(--color-primary-100);
      }

      &.active {
        background: var(--color-primary-100);
      }

      a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
      }
    }

    .open-progress {
      position: relative;

      &:hover,
      &:focus,
      &:focus-within {
        .open-menu {
          display: block;
        }
      }
    }
  }

  .logo {
    width: 150px;
    padding-top: 4px;
  }

  .open-menu {
    background: #FFF;
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
    width: 147px;
    box-shadow: 0 0 6px -4px rgba(0, 0, 0, 1);

    &.challenge-link {
      width: 140px;
    }

    li {
      height: 35px;
      white-space: nowrap;
      justify-content: flex-start;
    }
  }
}

.padding-section {
  padding: 20px 67px 20px;
}

.cover-img {
  height: 610px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

  &__homepage {
    background-image: url('images/homepage-image.jpg');
    background-position-y: -50px;

    h1 {
      height: max-content;
      color: var(--color-primary-900);
      padding-left: 50px;
      font-weight: 400;

      .twist-text {
        font-weight: 700;
      }
    }
  }

  &__conversation {
    background-image: url('images/conversation-cover.jpg');
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-position-y: -150px;

    h1 {
      color: #000;
    }

    .text {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      margin-bottom: 300px;
    }
  }

  &__init-program {
    background: url('images/init-program-cover.jpg') no-repeat center center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h1 {
      color: #000;
      padding-bottom: 250px;
    }

    .text {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      margin-bottom: 70px;
    }
  }

  &__feedback {
    background: url('images/feedback-cover.jpg') no-repeat center center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h1 {
      color: #000;
      padding-bottom: 250px;
    }

    .text {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      margin-bottom: 70px;
    }
  }

  .cover-text {
    position: relative;
    padding-top: 160px;

    &:after {
      position: absolute;
      content: '';
      transform: translate(-50%);
      top: 70%;
      left: 25px;
      background-image: url('images/cover-smile copy.png');
      width: 45px;
      height: 70px;
      background-repeat: no-repeat;
      background-size: 40px;
    }
  }
}

.sub-menu {
  height: 50px;
  background-color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 460px;
  z-index: 999;

  &__conversation {
    padding: 0 520px;
  }

  &.fixed {
    position: sticky;
    top: 55px;
    width: 100%;
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover {
      color: var(--color-info-700);
    }

    &.active {
      color: var(--color-info-700);

      &:after {
        content: '';
        position: absolute;
        border-bottom: 1px solid var(--color-info-700);
        width: 25px;
        height: 2px;
        bottom: 0;
      }
    }
  }

  .divider {
    width: 1px;
    height: 20px;
    background: #000;
  }
}

.link-anchor {
  position: absolute;
  top: -105px;
  visibility: hidden;
}

.download-file-container {
  &__text {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
  }

  &__img {
    width: 25px;
    height: 100%;
  }

  .download-link {
    display: inline-flex;
    align-items: center;
  }
}

.not-allowed {
  cursor: not-allowed;
}

.credit-container {
  padding: 20px 0;
  position: relative;

  .popover {
    position: absolute;
    width: 400px;
    height: 250px;
    padding: 0;
    background: #FFFFFF;
    border: 1px solid #000;
    top: -85px;
    right: 210px;
    z-index: 9;
    transform: scale(0);
    transition: all .2s ease-in-out;
    visibility: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    &.show {
      visibility: visible;
      transform: scale(1);
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      right: -32px;
      transform: translateY(-50%) rotate(-90deg);
      border-style: solid;
      border-width: 21px 21px 0;
      border-color: #000 transparent;
      display: block;
      width: 0;
      z-index: 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: -31px;
      transform: translateY(-50%) rotate(-90deg);
      border-style: solid;
      border-width: 21px 21px 0;
      border-color: #FFFFFF transparent;
      display: block;
      width: 0;
      z-index: 1;
    }
  }

  .twist-bg-info {
    background: var(--color-info-500);
    border: 1px solid var(--color-info-500);
    border-radius: 20px;
    width: 180px;
    height: 40px;
    font-size: 1em;
    font-family: 'Heebo', sans-serif;
    cursor: pointer;
    color: #000;
    transition: all 0.3s ease-out 0s;

    &:hover {
      background: var(--color-info-400);
    }
  }
}

//homepage CSS

.what-is-twist {
  height: 300px;
  background: url(images/clips.png) no-repeat top center;
  background-size: 165px;
  background-position-x: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    color: var(--color-success-500);
  }

  .text {
    color: var(--color-primary-900);
    width: 640px;
    margin-top: 25px;
    line-height: 1.5;
    padding-bottom: 10px;
  }
}

.what-we-do {
  background: url('images/what-we-do.jpg') no-repeat center right;
  height: 540px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 590px;
  padding-top: 45px;

  &__title {
    color: var(--color-primary-900);
  }

  .link-container {
    position: relative;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;

    div {
      a {
        position: relative;
        width: 270px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(1);
        transition: all .2s ease-in-out;

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: url('images/label-pink.png') no-repeat center center;
          background-size: cover;
          z-index: 1;
        }

        &:hover,
        &:focus,
        &:focus-within {
          transform: scale(1.2) rotate(-5deg);

          &:after {
            background: url('images/label-blue.png') no-repeat center center;
            background-size: cover;
          }

          .first-title {
            display: none;
          }

          .second-title {
            display: block;
          }
        }

        &.middle-link {
          &:hover {
            transform: scale(1.2) rotate(5deg);
          }
        }

        span {
          z-index: 99;
        }
      }

      .first-title {
        display: block;
      }

      .second-title {
        display: none;
      }
    }

    &__top {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        background: url('images/arrow.png') no-repeat center center;
        width: 100%;
        height: 80px;
        right: -150px;
        bottom: -75px;
        background-size: contain;
        transform: rotateY(180deg);
      }
    }

    &__middle {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        background: url('images/arrow.png') no-repeat center center;
        width: 100%;
        height: 80px;
        left: -150px;
        bottom: -75px;
        background-size: contain;
      }

      a {
        &:after {
          transform: rotate(180deg);
        }
      }
    }

    .hidden {
      display: none;
    }
  }
}

.carousel-container {
  background-color: #FFF;
  position: relative;

  &__title {
    color: var(--color-primary-900);
    margin: 30px 0;
    padding-right: 67px;
  }

  .clips-image {
    position: absolute;
    top: -40px;
    left: 80px;
    width: 450px;
    z-index: 99;
  }
}


$questionTransition: 0.5s;

.style-guide {
  text-align: center;
}

.sg-colors-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sg-colors {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    color: #000;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-bottom: .5em;
  }

  h3 {
    margin-bottom: .5em;
  }

  &.primary {
    > div {
      color: #000;
    }
  }

  &.success {
    > div {
      color: #58a306;
    }
  }

  &.danger {
    > div {
      color: #000;
    }
  }
}

.buttons-container {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h3 {
    margin-bottom: 1em;
    font-family: "Assistant", sans-serif;
  }

  button {
    margin-bottom: 1em;
  }

  .twist-bg-primary-effect {
    background: transparent;
    border: 1px solid var(--color-primary-600);
    border-radius: 20px;
    overflow: hidden;
    width: 180px;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    color: var(--color-primary-600);
    transition: all 0.3s;
    transition-property: color;
    transition-duration: 0.5s;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: perspective(1px) translateZ(0);

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--color-primary-600);
      transform: scaleX(0);
      transform-origin: 100%;
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
    }

    &:hover {
      color: #fff;

      &:before {
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        transform: scaleX(1);
      }
    }
  }

  .twist-bg-success-effect {
    background: transparent;
    border: 1px solid var(--color-success-600);
    border-radius: 20px;
    overflow: hidden;
    width: 180px;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    color: var(--color-success-600);
    transition: all 0.3s;
    transition-property: color;
    transition-duration: 0.5s;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: perspective(1px) translateZ(0);

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--color-success-600);
      transform: scaleX(0);
      transform-origin: 100%;
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
    }

    &:hover {
      color: #fff;

      &:before {
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        transform: scaleX(1);
      }
    }
  }

  .twist-bg-info-effect {
    background: transparent;
    border: 1px solid var(--color-info-600);
    border-radius: 20px;
    overflow: hidden;
    width: 180px;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    color: var(--color-info-600);
    transition: all 0.3s;
    transition-property: color;
    transition-duration: 0.5s;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: perspective(1px) translateZ(0);

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--color-info-600);
      transform: scaleX(0);
      transform-origin: 100%;
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
    }

    &:hover {
      color: #fff;

      &:before {
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        transform: scaleX(1);
      }
    }
  }

  .twist-bg-warning-effect {
    background: transparent;
    border: 1px solid var(--color-warning-500);
    border-radius: 20px;
    overflow: hidden;
    width: 180px;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    color: var(--color-warning-500);
    transition: all 0.3s;
    transition-property: color;
    transition-duration: 0.5s;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: perspective(1px) translateZ(0);

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--color-warning-500);
      transform: scaleX(0);
      transform-origin: 100%;
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
    }

    &:hover {
      color: #fff;

      &:before {
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        transform: scaleX(1);
      }
    }
  }

  .twist-bg-primary {
    background: var(--color-primary-600);
    border: 1px solid var(--color-primary-600);
    border-radius: 20px;
    width: 180px;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    color: #FFF;
    transition: all 0.3s ease-out 0s;

    &:hover {
      background: var(--color-primary-500);
    }
  }

  .twist-bg-success {
    background: var(--color-success-600);
    border: 1px solid var(--color-success-600);
    border-radius: 20px;
    width: 180px;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    color: #FFF;
    transition: all 0.3s ease-out 0s;

    &:hover {
      background: var(--color-success-500);
    }
  }

  .twist-bg-info {
    background: var(--color-info-600);
    border: 1px solid var(--color-info-600);
    border-radius: 20px;
    width: 180px;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    color: #FFF;
    transition: all 0.3s ease-out 0s;

    &:hover {
      background: var(--color-info-500);
    }
  }

  .twist-bg-warning {
    background: var(--color-warning-500);
    border: 1px solid var(--color-warning-500);
    border-radius: 20px;
    width: 180px;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    color: #FFF;
    transition: all 0.3s ease-out 0s;

    &:hover {
      background: var(--color-warning-400);
    }
  }
}

.typography {
  margin-bottom: 2em;
  direction: rtl;

  div, h1, h2, h3, h4, label, p {
    margin-bottom: 1em;
  }
}

.questions {
  width: 500px;
  height: 200px;
  border-radius: 20px;
  border: 2px solid var(--color-warning-500);
  padding: 20px;
  margin-bottom: 50px;

  .item {
    position: relative;
  }

  .question-header {
    font-size: 1.5em;
    background: var(--color-info-800);
    color: #FFF;
    padding: 10px;
    margin-bottom: .3em;
  }

  .answer-slide {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background: #FFF;
    height: 167px;

    &.next-question {
      display: none;
    }

    .answer-indicator {
      display: block;
      cursor: pointer;
      transition: background-color .3s ease-in-out;
      padding: 8px;

      &:hover {
        background-color: var(--color-success-400);
      }
    }

    .result {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 105px;
    }

    .back-btn {
      position: absolute;
      top: 11px;
      right: 11px;
      width: 50px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 500;
      background: var(--color-warning-500);
      color: #FFF;
      cursor: pointer;
    }
  }

  #goToQuestion2Answer1:checked ~ #question2Answer1 {
    display: block
  }

  #goToQuestion2Answer2:checked ~ #question2Answer2 {
    display: block;
  }

  #goToQuestion2Answer3:checked ~ #question2Answer3 {
    display: block;
  }

  #goToQuestion3Answer1:checked ~ #pizzaResultQuestion2Answer1 {
    display: block;
  }

  #goToQuestion3Answer2:checked ~ #pizzaResultQuestion2Answer2 {
    display: block;
  }

  #goToQuestion3Answer3:checked ~ #pizzaQuestion3Answer1 {
    display: block;
  }

  #pizzaGoToResultAnswer1:checked ~ #pizzaResultQuestion3Answer1 {
    display: block;
  }

  #pastaGoToResultAnswer1:checked ~ #question3Answer1 {
    display: block;
  }

  #pastaGoToResultAnswer1:checked ~ #question3Answer2 {
    display: block;
  }

  #pastaGoToResultAnswer1:checked ~ #question3Answer3 {
    display: block;
  }

  //#question1Answer2GoToQuestion2_1AndBackTo1:checked ~ #questionTwoAnswerTwoOfQuestionOne {
  //  display: block
  //}

  //#question1Answer3GoToQuestion2_2AndBackTo1:checked ~ #questionTwoAnswerThreeOfQuestionOne {
  //  display: block;
  //}
  //
  //#a1q1Question2Answer1GoToQuestion3_1AndBackTo2:checked ~ #questionThreeAnswerOneOfQuestionTwo {
  //  display: block;
  //}
  //
  //#a1q1question2Answer2GoToQuestion3_2AndBackTo2:checked ~ #questionThreeAnswerTwoOfQuestionTwo {
  //  display: block;
  //}
  //
  //#a1q1question2Answer3GoToQuestion3_2AndBackTo2:checked ~ #questionThreeAnswerThreeOfQuestionTwo {
  //  display: block;
  //}
  //
  //#answerOneQuestionThree:checked ~ #resultQuestionThreeAnswerOne {
  //  display: block;
  //}

  .answer-check {
    display: none;
  }
}





















