:root {
  --color-primary-100: #DEFAFB;
  --color-primary-200: #BDF2F7;
  --color-primary-300: #97DBE8;
  --color-primary-400: #76BDD1;
  --color-primary-500: #4B95B3;
  --color-primary-600: #367699;
  --color-primary-700: #255A80;
  --color-primary-800: #174067;
  --color-primary-900: #0E2D55;

  --color-success-100: #FFEFEB;
  --color-success-200: #FFDBD8;
  --color-success-300: #FFC4C5;
  --color-success-400: #FFB6BD;
  --color-success-500: #FF9EB1;
  --color-success-600: #DB7391;
  --color-success-700: #B74F77;
  --color-success-800: #933261;
  --color-success-900: #7A1E53;

  --color-info-100: #E6FEFF;
  --color-info-200: #CEFAFF;
  --color-info-300: #B5F3FF;
  --color-info-400: #A3EAFF;
  --color-info-500: #85DCFF;
  --color-info-600: #61AFDB;
  --color-info-700: #4386B7;
  --color-info-800: #2A6093;
  --color-info-900: #19447A;

  --color-warning-100: #FEFCD0;
  --color-warning-200: #FDF9A3;
  --color-warning-300: #F9F474;
  --color-warning-400: #F4EC51;
  --color-warning-500: #EDE21A;
  --color-warning-600: #CBC113;
  --color-warning-700: #AAA00D;
  --color-warning-800: #898008;
  --color-warning-900: #716904;

  --color-danger-100: #FBFAE0;
  --color-danger-200: #F7F5C2;
  --color-danger-300: #E8E59E;
  --color-danger-400: #D1CD7E;
  --color-danger-500: #B3AE54;
  --color-danger-600: #99943D;
  --color-danger-700: #807B2A;
  --color-danger-800: #67621A;
  --color-danger-900: #555010;
}

:root {
  --color-primary-transparent-100: rgba(62, 79, 89, 0.08);
  --color-primary-transparent-200: rgba(62, 79, 89, 0.16);
  --color-primary-transparent-300: rgba(62, 79, 89, 0.24);
  --color-primary-transparent-400: rgba(62, 79, 89, 0.32);
  --color-primary-transparent-500: rgba(62, 79, 89, 0.4);
  --color-primary-transparent-600: rgba(62, 79, 89, 0.48);

  --color-success-transparent-100: rgba(114, 204, 205, 0.08);
  --color-success-transparent-200: rgba(114, 204, 205, 0.16);
  --color-success-transparent-300: rgba(114, 204, 205, 0.24);
  --color-success-transparent-400: rgba(114, 204, 205, 0.32);
  --color-success-transparent-500: rgba(114, 204, 205, 0.4);
  --color-success-transparent-600: rgba(114, 204, 205, 0.48);

  --color-info-transparent-100: rgba(6, 170, 172, 0.08);
  --color-info-transparent-200: rgba(6, 170, 172, 0.16);
  --color-info-transparent-300: rgba(6, 170, 172, 0.24);
  --color-info-transparent-400: rgba(6, 170, 172, 0.32);
  --color-info-transparent-500: rgba(6, 170, 172, 0.4);
  --color-info-transparent-600: rgba(6, 170, 172, 0.48);

  --color-warning-transparent-100: rgba(254, 190, 64, 0.08);
  --color-warning-transparent-200: rgba(254, 190, 64, 0.16);
  --color-warning-transparent-300: rgba(254, 190, 64, 0.24);
  --color-warning-transparent-400: rgba(254, 190, 64, 0.32);
  --color-warning-transparent-500: rgba(254, 190, 64, 0.4);
  --color-warning-transparent-600: rgba(254, 190, 64, 0.48);

  --color-danger-transparent-100: rgba(69, 69, 71, 0.08);
  --color-danger-transparent-200: rgba(69, 69, 71, 0.16);
  --color-danger-transparent-300: rgba(69, 69, 71, 0.24);
  --color-danger-transparent-400: rgba(69, 69, 71, 0.32);
  --color-danger-transparent-500: rgba(69, 69, 71, 0.4);
  --color-danger-transparent-600: rgba(69, 69, 71, 0.48);
}

/* Implement sass map to colors */

$colors-hex: (
        color-primary-100: var(--color-primary-100),
        color-primary-200: var(--color-primary-200),
        color-primary-300: var(--color-primary-300),
        color-primary-400: var(--color-primary-400),
        color-primary-500: var(--color-primary-500),
        color-primary-600: var(--color-primary-600),
        color-primary-700: var(--color-primary-700),
        color-primary-800: var(--color-primary-800),
        color-primary-900: var(--color-primary-900),
        color-success-100: var(--color-success-100),
        color-success-200: var(--color-success-200),
        color-success-300: var(--color-success-300),
        color-success-400: var(--color-success-400),
        color-success-500: var(--color-success-500),
        color-success-600: var(--color-success-600),
        color-success-700: var(--color-success-700),
        color-success-800: var(--color-success-800),
        color-success-900: var(--color-success-900),
        color-info-100: var(--color-info-100),
        color-info-200: var(--color-info-200),
        color-info-300: var(--color-info-300),
        color-info-400: var(--color-info-400),
        color-info-500: var(--color-info-500),
        color-info-600: var(--color-info-600),
        color-info-700: var(--color-info-700),
        color-info-800: var(--color-info-800),
        color-info-900: var(--color-info-900),
        color-warning-100: var(--color-warning-100),
        color-warning-200: var(--color-warning-200),
        color-warning-300: var(--color-warning-300),
        color-warning-400: var(--color-warning-400),
        color-warning-500: var(--color-warning-500),
        color-warning-600: var(--color-warning-600),
        color-warning-700: var(--color-warning-700),
        color-warning-800: var(--color-warning-800),
        color-warning-900: var(--color-warning-900),
        color-danger-100: var(--color-danger-100),
        color-danger-200: var(--color-danger-200),
        color-danger-300: var(--color-danger-300),
        color-danger-400: var(--color-danger-400),
        color-danger-500: var(--color-danger-500),
        color-danger-600: var(--color-danger-600),
        color-danger-700: var(--color-danger-700),
        color-danger-800: var(--color-danger-800),
        color-danger-900: var(--color-danger-900),
);
